{% extends 'base.html' %}
{% block main_content %}

<div class="card text-center">
    <div class="card-header">
      Scheduled Counselling Session
    </div>
    <div class="card-body">
      <h5 class="card-title">No Sessions Booked</h5>
      <p class="card-text"> Dear student you have not booked any session yet. Kindly Book a session.</p>
      <a href="/booking" class="btn btn-primary">Book a Session</a>
    </div>
    <div class="card-footer text-muted">
      Thankyou
    </div>
  </div>

{% endblock main_content %}